Options -Indexes
<FilesMatch "(^\.env|\.git|\.htaccess|\.cred)">
  Require all denied
</FilesMatch>
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "SAMEORIGIN"
</IfModule>
